body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(0deg, #222222 0%, #333333 100%);
  font-family: 'Verdana', 'Tahoma', 'Segoe UI' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
