.r-card {
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0px 1px 1px #00000024, 0px 2px 1px #0000001f, 0px 1px 3px #00000024;
    background-color: #0000001f;
}

.progressBarRoot {
    border-radius: 0;
    height: 0.25rem;
    min-height: 0.25rem;
    position: relative;
    background-color: #433dd21f;
    text-align: center;
    display: flex;
    align-items: center;
}

.progressBarValue {
    border-radius: 0;
    position: absolute;
    background-color: #4340d2;
    height: 100%;
}

.progressBarLabel {
    display: none;
}

